span {
  color: #ffd569;
}
.fruitsContainer {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding: 50px;
}
.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

img {
  height: 200px;
  margin-bottom: 20px;
  margin-top: 20px;
}

body {
  background-color: #ffd569;
  display: flex;
  align-items: center;
  flex-direction: center;
  justify-content: center;
  align-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container {
  background-color: #fff;
  margin: 40px;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
button:hover {
  background-color: #0000ff;
}
